---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="UUU6ChiaPTQbOIAmQMM9zfa2M", oauth_nonce="a708fb5ea6ea02d7cfbef30fa754ec08",
        oauth_signature="1NSqkPLYdImn83FzVIIPg4PzBuE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450314291", oauth_token="854970571-9kO0lt28zx8IgXIsge4sYatbcPLvaMOw3mnSGEnJ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 01:04:51 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 788c0904ecfacd33f09042076a4923ba
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1450315191'
      X-Response-Time:
      - '36'
      X-Transaction:
      - 438b1f5e39408274
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":854970571,"id_str":"854970571","name":"Matt Rooney","screen_name":"Roondoggle","location":"","description":"Music,
        Hockey, Beer, Food, Laughs please","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":93,"friends_count":330,"listed_count":2,"created_at":"Sun
        Sep 30 16:24:02 +0000 2012","favourites_count":21,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":129,"lang":"en","status":{"created_at":"Wed
        Dec 16 01:56:56 +0000 2015","id":676944062902108161,"id_str":"676944062902108161","text":"testing
        my app","source":"\u003ca href=\"http:\/\/127.0.0.1:3000\" rel=\"nofollow\"\u003eRooney''s
        Carrier Pigeon\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":1,"favorite_count":1,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2666334819\/04babd487d1f2ea83d11fbea08c7fcc7_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2666334819\/04babd487d1f2ea83d11fbea08c7fcc7_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/854970571\/1432139315","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Thu, 17 Dec 2015 01:04:51 GMT
[...]
