<div class="row">
  <div class="col s8">
    <% @current_client.home_timeline.each do |tweet| %>
      <div class="card card-radius">
          <div class="col s1">
            <%= image_tag tweet.user.profile_image_url %>
          </div>
          <div class="row">
            <div class="center">
              <%= tweet.user.name %> @<%= tweet.user.handle %>
            </div>
          </div>
          <div class="center">
            <%= tweet.text %>
          </div>
          <br>
        </div>
    <% end %>
    </div>
  </div>
