<div class="center white-text">
  <h1>War Pigeon</h1>
  <p>
    Send top secret messages that only you and the rest of the internet can read.
  </p>

  <div class="btn red">
    <%= link_to "Login with Twitter", login_path, class: "white-text" %>
  </div>
</div>
